.header {
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid whitesmoke;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left > img {
object-fit: contain;
height: 80px;
margin-left: 1px; 
}

.header_center {
display: flex;
flex: 0.7;
align-items: center;
border-radius: 5px;
padding: 10px;
background-color: whitesmoke;
}

.header_center > .MuiSvgIcon-root {
  color:grey;
}

.header_center > input {
border:none;
width : 100%;
padding: 10px;
font-size: medium;
background-color: transparent;
}

.header_right {
  display : flex;
  padding-right: 20px;
}